*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  --principal-color: rgb(67,156,206);
  --margin-text: 16px;
}

.container{
  max-width: 1280px;
  padding: var(--margin-text);
  margin: 0 auto;
}

section{
  margin-bottom: 32px;
}


/****************************** NAV ***********************************/
nav{
  position: relative;
}

nav form{
  text-align: right;
}

.search__container{
    position: relative;
}
 
nav .search__container::before{ 
  content: '';
  background-image: url('../../images/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 33%;
  right: 1rem;
  transform: translateY(-50%);
} 


nav .search__input{
  border: none;
  background-color: #ebebeb;
  color: #aaa;
  border-radius: 50rem;
  padding: 0.4rem 2.7rem 0.4rem 0.6rem;
  margin-bottom: 1rem;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

nav ul li a{
  text-decoration: none;
  color: var(--principal-color);
  font-size: 18px;
}


/****************************** HEADER ***********************************/
.header{
  background-color: var(--principal-color);
  max-height: 400px;
}

.header__img{
  background-image: url('../../images/banner.jpg');
  max-width: 1280px;
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.header__text{
  background-color: var(--principal-color);
  color: white;
}

.header__text h1{
  font-weight: lighter;
  margin: 1rem 0;
}

.header__button{
  border: none;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 10rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: var(--principal-color);
}

@media(min-width:768px){
  .header__container{
    max-width: 1280px;
    height: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .header__img{
    height: 400px;
  }
  .header__text{
    background-color: rgba(67,156,206,0.8);
    position: absolute;
    top: 50%;
    right: 5%;
    width: 500px;
    padding: calc(var(--margin-text)*2);
    transform: translateY(-50%);
  }
  .header__text h1{
    font-size:32px;
  }
}


/****************************** BREADCRUMB ***********************************/

.breadcrumb ul li{
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  list-style: none;
  font-size: 14px;
}

.breadcrumb ul li a{
  text-decoration: none;
  color: var(--principal-color);
}

.breadcrumb ul li.active span{
  color: #bbb;
}

.breadcrumb li a span{
  vertical-align: middle;
}

.arrow{
    font-size: 8px;
}


/*************************************************** MAIN *************************************************************/

@media(min-width:1024px){
  .content__row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
  }
}

.main__title{
  font-size: 32px;
  font-weight: 100;
  color: #666;
  margin-top: 0;
}

.main__subtitle{
  font-size: 26px;
  font-weight: 100;
  color: #aaa;
  margin: 1rem 0;
}

.main__text{
    margin-top: 16px;
}

/****************************** ARTICLE IMAGE ***********************************/

.article__image{
  width: 100%;
  height: auto;
}

@media(min-width:480px){ 
  .article__image{
      float: left;
      width: 50%;
      max-height: 240px;
      margin-bottom: 16px;
      margin-right: 32px;
   }

}

/************ FALTA FORMATAR IMAGEM E TEXTO A VOLTA ***********/

/****************************** ARTICLE VIDEO ***********************************/

.article__video{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.article__video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************************  Format Text ***********************************/

.formattext__list li{
  margin: var(--margin-text);
}

.formattext__links li{
  list-style: none;
  padding: 0.5rem 0;
}

.formattext__links li a{
  text-decoration: none;
  color: var(--principal-color);
  font-weight: bold;
}

.formattext__links li a span{
  vertical-align: middle;
}

table{
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 100%;
  margin: var(--margin-text) 0;
  font-size: 14px;
}

table th, table td{
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: left;
}

table th{
  background-color: var(--principal-color);
  color: white;
}

.formattext__quotes{
  font-size: 20px;
  font-weight: lighter;
  color: #aaa;
}
q{
  quotes: '“' '”' '‘' '’';
}
q::before{
  font-weight: bolder;
  font-size: 30px;
  color: brown;
}

/******************************  Form Section ***********************************/

.form{
  margin-bottom: 2rem;
}

.form input[type=text], input[type=number], select, option, input[type=email], textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #aaa;
}

.label, .submit__text{
  font-size: 14px;
  color: #666;
}

.label p{
  margin: 1rem 0;
}

.checkbox, .radio{
  padding: 1rem 0;
}

.submit__btn, .cancel__btn{
  padding: 0.5rem;
  border: none;
  color: white;
}

.submit__btn{
  background-color: var(--principal-color);
}
.cancel__btn{
  background-color: #aaa;
}

.submit__text{
  display: block;
  font-weight: bolder;
  margin-bottom: 16px;
}

.submit{
  align-items: center;
}

@media(min-width:480px){
  .submit{
    display: flex;
    justify-content:space-between;
  }

  .buttons{
    order: -1;
  }

  .submit__text{
    margin-bottom: 0;
  }
}

@media(min-width:768px){
  .label{
    width: 30%;
    margin: 0;
    padding-right: 2rem;
    text-align: end;
  }

  .inputs{ 
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .inputs--dif{
    display: flex;
  }

  .form input[type=text],input[type=number], select, option, input[type=email], textarea, .inputsBtn{
    width: 70%;
    align-content: center;
  }
}

/****************************************** ASIDE SECTION ************************/

.aside__title{
  font-weight: 100;
  color: #666;
}

.hr__title{
  margin: 0.5rem 0 1rem 0;
}

@media(min-width:768px) and (max-width:1024px){
  .contacts{
    width: 50%;
  }
}

.contacts__mail{
  text-decoration: none;
  color: var(--principal-color);
  font-weight: bold;
}

.contacts__content a span{
  vertical-align: middle;
}

.contacts__phone__text{
  text-decoration: none;
  color: black;
  display: block;
}

.contacts__content .contacts__address{
  font-weight: bolder;
}

.contacts__info{
  margin-top: 1rem;
}

.contacts__content{
  display: flex;
}
.contacts__text{
  float: right;
  width: 70%;
  margin-left: 16px;
  clear: both;
} 
.contacts__image{
  align-content: left;
  width: 25%;
  max-height: 150px;
}

.documents{
  width: 100%;
}

.documents li{
  list-style: none;
  display: flex;
}

.documents li a{
  text-decoration: none;
  width: 100%;
}

.documents__title{
  color: var(--principal-color);
  font-weight: normal;
}

.documents__info{
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.documents li p{
  color: #bbb;
  font-size: 14px;
}

.documents__icon{
  width: 10%;
  height: auto;
}

/****************************************** TEASERROW SECTION *****************************/
section.teaserrows{
  background-color: #eee;
}

.teaserrow__image{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.teaserrow__text a{
  text-decoration: none;
  color: var(--principal-color);
  font-weight: 400;
}

.teaserrow__text a span{
  vertical-align: middle;
}

.teaserrow__subtitle{
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.teaserrow__text p{
  margin-bottom: 0.5rem;
}

@media(min-width:600px){
  .teaserrrows__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .teaserrow__image{
    margin: 0;
  }
}