*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  --principal-color: rgb(67,156,206);
}

.container{
  max-width: 1280px;
  padding: 16px;
  margin: 0 auto;
}


/****************************** NAV ***********************************/
nav{
    position: relative;
}

nav form{
    text-align: right;
}

nav .search__container::before{ /**************** VER ISTO *************/
  content: '';
  background-color: yellow;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 10%;
  right: 10%;
}

@media screen {
    
}

nav .search__input{
  border: none;
  background-color: #ebebeb;
  color: #aaa;
  border-radius: 50rem;
  padding: 0.4rem 2.7rem 0.4rem 0.6rem;
  margin-bottom: 1rem;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

nav ul li a{
  text-decoration: none;
  color: var(--principal-color);
  font-size: 18px;
}


/****************************** HEADER ***********************************/
.header{
    background-color: var(--principal-color);
    max-height: 400px;
}

.header__img{
    background-image: url('../../images/banner.jpg');
    max-width: 1280px;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.header__text{
    background-color: var(--principal-color);
    color: white;
}

.header__text h1{
    font-weight: lighter;
    margin: 1rem 0;
}

.header__button{
    border: none;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 10rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: var(--principal-color);
}

@media(min-width:768px){
    .header__container{
        max-width: 1280px;
        height: 400px;
        position: relative;
        margin: auto;
    }
    .header__img{
        height: 400px;
    }
    .header__text{
        background-color: rgba(67,156,206,0.8);
        position: absolute;
        top: 50%;
        right: 5%;
        width: 500px;
        padding: 32px;
        transform: translateY(-50%);
    }
    .header__text h1{
        font-size:xx-large;
    }
}
